USER_MS_PORT=8001
USER_MS_DATABASE_URL=postgresql+psycopg2://postgres:postgres@mesoftx-db:5432/users_db
USER_MS_JWT_SECRET_KEY=change-this-jwt-secret-with-at-least-32-chars
USER_MS_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
USER_MS_GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id.apps.googleusercontent.com
USER_MS_CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4200

ASSESMENT_MS_PORT=8002
ASSESMENT_MS_DATABASE_URL=postgresql+psycopg2://postgres:postgres@mesoftx-db:5432/assesment_mesoftx_db
ASSESMENT_MS_DOCUMENT_HOST_BASE_URL=./documents/MESOFTX
ASSESMENT_MS_DOCUMENT_BASE_URL=/app/documents/MESOFTX
ASSESMENT_MS_DOCUMENT_SUPPORT_ASSESMENT=/app/documents/MESOFTX/ASSESMENT
ASSESMENT_MS_CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4200
