POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_PORT=5432

USER_MS_PORT=8001
USER_MS_DATABASE_URL=postgresql+psycopg2://postgres:change-this-db-password@mesoftx-db:5432/users_db
USER_MS_JWT_SECRET_KEY=change-this-jwt-secret-with-at-least-32-chars
USER_MS_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
USER_MS_CORS_ORIGINS=http://localhost:3000,http://localhost:5173
